
@mixin link-reset($color) {
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
    font-family: $font-primary;
}



// Media Query Manager

@mixin respond($breakpoint) {
    
    @if($breakpoint == phone) {
        @media (max-width: 37.5em) { @content }; // 600px
    }

    @if($breakpoint == tab) {
        @media (max-width: 56.25em) { @content };
    }
}