$color-primary: #a3a3a3;
$color-secondary: #ccc4c4;
$color-white: #fff;
$color-black-light: #636d6e;
$color-black-dark: #3C3B3B;
$color-blue: #50BAAE;

$default-font-size: 1.6rem;

$font-primary: 'Raleway', sans-serif;
$font-secondary : 'Source Sans Pro', sans-serif;